<div class="container" id="box">
       <div class="container" style="margin-top: 20px; margin-bottom: 30px;">
        <h4 style="text-align: center;">查看数据</h4>
       </div>
      
		   
		  
		   
		    
       </div>
        <table class="table table-bordered table-hover">
            <caption class="text-center">数据类型表</caption>
            <tr>
                <th></th><th class="text-danger text-center">操作</th>
            </tr>
            <tr class="text-primary">
                <th class="text-center">员工保险</th> 
                <th class="text-center">
                    <a type="button" class="btn btn-info cc"  href="{:url('sysmanager/insurance')}">查看信息</a>
                </th> 
            </tr>
            <tr class="text-primary">
                <th class="text-center">员工公积金</th>
                <th class="text-center">
                     <a type="button" class="btn btn-info cc"  href="{:url('sysmanager/mpf')}">查看信息</a>
                </th>
            </tr>
            <tr class="text-primary">
                <th class="text-center">员工信息</th>
                <th class="text-center">
                     <a type="button" class="btn btn-info cc"  href="{:url('sysmanager/woker')}">查看信息</a>
                </th>
            </tr>
            <tr class="text-primary">
                <th class="text-center">员工家庭信息</th>
                <th class="text-center">
                     <a type="button" class="btn btn-info cc"  href="{:url('sysmanager/home')}">查看信息</a>
                </th>
            </tr>
            <tr class="text-primary">
                <th class="text-center">员工证件情况</th>
                <th class="text-center">
                    <a type="button" class="btn btn-info cc"  href="{:url('sysmanager/paper')}">查看信息</a>
                </th>
            </tr>
            <tr class="text-primary">
                <th class="text-center">员工生育信息</th>
                <th class="text-center">
                     <a type="button" class="btn btn-info cc"  href="{:url('sysmanager/baby')}">查看信息</a>
                </th>
            </tr>
            <tr class="text-primary">
                <th class="text-center">员工就职情况</th>
                <th class="text-center">
                      <a type="button" class="btn btn-info cc"  href="{:url('sysmanager/job')}">查看信息</a>
                </th>
            </tr>
            <tr class="text-primary">
                <th class="text-center">员工证书档案</th>
                <th class="text-center">
                      <a type="button" class="btn btn-info cc"  href="{:url('sysmanager/skill')}">查看信息</a>
                </th>
            </tr>
            <tr class="text-primary">
                <th class="text-center">员工工作证</th>
                <th class="text-center">
                      <a type="button" class="btn btn-info cc"  href="{:url('sysmanager/job_paper')}">查看信息</a>
                </th>
            </tr>
			<tr class="text-primary">
			    <th class="text-center">员工伙食</th>
			    <th class="text-center">
			          <a type="button" class="btn btn-info cc"  href="{:url('sysmanager/dinner')}">查看信息</a>
			    </th>
			</tr>
        </table>
     </div>

<style>

.cc a:link { 

color: white; 
text-decoration: none; 
} 
.cc a:visited { 

color: white; 
text-decoration: none; 
} 
.cc a:hover { 

color: white; 
text-decoration: underline; 
}



</style>

