<div class="container" id="box">
       <div class="container" style="margin-top: 20px; margin-bottom: 30px;">
        <h4>伙食费信息</h4>
       </div>

        <table class="table table-bordered table-hover">
            <caption class="text-center">伙食费信息表</caption>
            <tr class="text-danger">
                <th class="text-center">序号</th>
                <th class="text-center">姓名</th>
                <th class="text-center">工号</th>
                <th class="text-center">持卡类型</th>
                <th class="text-center">卡号</th>
                <th class="text-center">新办/续办日期</th>
                <th class="text-center">操作</th>
            </tr>
            {foreach name="dinner" item="vo"}
            <tr class="text-center">
                <td>{$vo.id}</td> 
                <td>{$vo.name}</td>
                <td>{$vo.num}</td>
                <td>{$vo.type}</td> 
                <td>{$vo.cid}</td>
                <td>{$vo.new}</td>

            </tr>
            {/foreach}
            <tr>

        </tr>

        </table>
     </div>