<div class="container" id="box">
       <div class="container" style="margin-top: 20px; margin-bottom: 30px;">
        <h4>限权管理</h4>
       </div>

        <table class="table table-bordered table-hover">
            <caption class="text-center">限权管理表</caption>
            <tr class="text-danger">
                <th class="text-center">序号</th>
                <th class="text-center">姓名</th>
                <th class="text-center">用户名</th>
                <th class="text-center">权限</th>
                <th class="text-center">操作</th>
            </tr>
            {foreach name="muser" item="vo"}
            <tr class="text-center">
                <td>{$vo.id}</td> 
                <td>{$vo.name}</td>
                <td>{$vo.user_name}</td>
                <td><?php if($vo['power']==1) echo "用户"; else if($vo['power']==2) echo "人事"; else if($vo['power']==3) echo "管理员"  ?></td>
                <td>
                   <a style="color: #fff" class="btn btn-primary" href="{:url('sysmanager/power_update',array('ids'=>$vo['id']))}">修改限权</a>
            </tr>
            {/foreach}
            <tr>
            	<td colspan="6" class="text-center">
            		{$muser->render()}
            	</td>
                
            </tr>
        </table>
     </div>
	 
 