<div class="container" id="box">
       <div class="container" style="margin-top: 20px; margin-bottom: 30px;">
        <h4>奖惩情况</h4>
       </div>

        <table class="table table-bordered table-hover">
            <caption class="text-center">奖惩信息表</caption>
            <tr class="text-danger">
                <th class="text-center">序号</th>
                <th class="text-center">姓名</th>
                <th class="text-center">工号</th>
                <th class="text-center">奖励名称</th>
                <th class="text-center">奖励时间</th>
                <th class="text-center">奖励类型</th>
                <th class="text-center">惩罚名称</th>
                <th class="text-center">惩罚时间</th>
                <th class="text-center">惩罚类型</th>

            </tr>
            {foreach name="welfare" item="vo"}
            <tr class="text-center">
                <td>{$vo.id}</td> 
                <td>{$vo.name}</td>
                <td>{$vo.num}</td>
                <td>{$vo.pname}</td> 
                <td>{$vo.ptime}</td>
                <td>{$vo.ptype}</td>
                <td>{$vo.cname}</td>
                <td>{$vo.ctime}</td>
                <td>{$vo.ctype}</td>
 
            </tr>
            {/foreach}
            <tr>
            <td colspan="12" class="text-right">
            </td>
        </tr>
        </table>
     </div>