<div class="container" id="box">
       <div class="container" style="margin-top: 20px; margin-bottom: 30px;">
        <h4>证书档案信息</h4>
       </div>

        <table class="table table-bordered table-hover">
            <caption class="text-center">证书档案信息表</caption>
            <tr class="text-danger">
                <th class="text-center">序号</th>
                <th class="text-center">姓名</th>
                <th class="text-center">工号</th>
                <th class="text-center">专业技能</th>
                <th class="text-center">级别</th>
                <th class="text-center">发证日期</th>
                <th class="text-center">证书号</th>

            </tr>
            {foreach name="skill" item="vo"}
            <tr class="text-center">
                <td>{$vo.id}</td> 
                <td>{$vo.name}</td>
                <td>{$vo.num}</td>
                <td>{$vo.skill}</td> 
                <td>{$vo.rank}</td>
                <td>{$vo.fnum}</td>
                <td>{$vo.cnum}</td>

            </tr>
            {/foreach}
            <tr>
            <td colspan="12" class="text-right">
            </td>
        </tr>

        </table>
     </div>