<div class="container" id="box">
       <div class="container" style="margin-top: 20px; margin-bottom: 30px;">
        <h4>工作证信息</h4>
       </div>
       <div style="margin-bottom: 30px;">
           <a style="color: #fff; margin-right: 5px" class="btn btn-primary" data-toggle="modal" data-target="#Add">添加工作证信息</a>
       </div>
        <table class="table table-bordered table-hover">
            <caption class="text-center">工作证信息表</caption>
            <tr class="text-danger">
                <th class="text-center">序号</th>
                <th class="text-center">姓名</th>
                <th class="text-center">工号</th>
                <th class="text-center">办理日期</th>
                <th class="text-center">过期时间</th>
                <th class="text-center">发证日期</th>
                <th class="text-center">操作</th>
            </tr>
            {foreach name="jobpaper" item="vo"}
            <tr class="text-center">
                <td>{$vo.id}</td> 
                <td>{$vo.name}</td>
                <td>{$vo.num}</td>
                <td>{$vo.btime}</td> 
                <td>{$vo.gtime}</td>
                <td>{$vo.stime}</td>
                <td>
                    <a style="color: #fff" class="btn btn-primary" href="{:url('permanager/jobpaper_update',array('ids'=>$vo['id']))}">修改</a>
                     <a style="color: #fff; margin-right: 5px" class="btn btn-danger" href="{:url('permanager/job_paper',array('id'=>$vo['id']))}" onclick="return confirm('删除不可恢复,确认删除吗?')">删除</a>
                </td>
            </tr>
            {/foreach}
            <tr>
            <td colspan="12" class="text-right">
                <a style="color: #fff" class="btn btn-danger" href="{:url('permanager/job_paper',array('delall'=>'1'))}" onclick="return confirm('确认全部删除?')">删除全部</a>
            </td>
        </tr>

        {include file="p-manager/worker_jobpaper"}
        </table>
     </div>