  <!--菜单-->
  <div class="col-md-2">
    <ul class="nav nav-tabs flex-column" style="color: blue">
    <li>
        <a href="" class="nav-link bg-primary text-white" data-toggle="collapse" data-target="#d1">五险一金</a>
        <div id="d1" class="collapse">
          <a href="{:url('Permanager/insurance')}" class="nav-link">购保情况管理</a>
          <a href="{:url('Permanager/mpf')}" class="nav-link">公积金管理</a>
        </div>
      </li>

      <li>
        <a href="" class="nav-link bg-primary text-white" data-toggle="collapse" data-target="#d2">生活培训</a>
        <div id="d2" class="collapse">
            <a href="{:url('Permanager/dinner')}" class="nav-link">免伙食费管理</a>
          <a href="{:url('Permanager/train')}" class="nav-link">培训管理</a>
          <a href="{:url('Permanager/subside')}" class="nav-link">补助管理</a>
          <a href="{:url('Permanager/reward')}" class="nav-link">奖惩管理</a>
        </div>
      </li>

      <li><a href="{:url('Permanager/woker')}" class="nav-link">员工基本管理</a></li>
      <li><a href="{:url('Permanager/home')}" class="nav-link">家庭情况管理</a></li>
      <li><a href="{:url('Permanager/paper')}" class="nav-link">证件情况管理</a></li>
      <li><a href="{:url('Permanager/baby')}" class="nav-link">生育记录管理</a></li>
      <li><a href="{:url('Permanager/job')}" class="nav-link">就职情况管理</a></li>
      <li><a href="{:url('Permanager/skill')}" class="nav-link">证书档案管理</a></li>
      <li><a href="{:url('Permanager/job_paper')}" class="nav-link">工作证管理</a></li>
    </ul>
  </div>