<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>系统管理页</title>
   
    <!--BootStrap-->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <!--BootStrap时间下拉插件-->
    <script src="http://localhost/manager/public/static/js/bootstrap-datetimepicker.js"></script>
    <link rel="stylesheet" href="http://localhost/manager/public/static/css/bootstrap-datetimepicker.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
       <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar navbar-brand" href="" style="color: #fff">人事管理系统</a>
        </div>
           <ul class="nav navbar-nav">
               <li class="active nav-item"><a href="" class="nav-link">欢迎你:</a></li>
               <li class="nav-item"><a class="nav-link" id="1">
    		   <?php 		   		  
    		   echo $_COOKIE['user_name']; 		  
    		   ?>
    		   </a></li>
               <li class=""><a href="{:url('Index/index')}" class="btn btn-primary"> 退出</a>
           </ul>
       </div>
    </nav>
    <!--菜单栏-->
    <div class="main">
        <div class="row">
        {include file="common/pleft"}
        <!--管理页-->
            <div class="col-md-10">
            <!--管理页-->
                 <form method="Post" action="{:url('sysmanager/power_update')}">
                    <h4 class="modal-title" style="margin-top: 10px; margin-bottom: 20px">修改限权</h4>
                    {foreach name="info" item="vo"}
                        <input name='id' type=hidden value={$vo.id}>
                        <div class="form-group">
                            <label>姓名:</label>
                            <input type="text" class="form-control" name="name" value={$vo.name}  readonly="readonly" >
                        </div>
                        <div class="form-group">
                            <label">用户名:</label>
                            <input type="text" class="form-control" name="user_name" value={$vo.user_name}  readonly="readonly" >
                        </div>
                        <div class="form-group">
                            <label>权限:</label>
							
							  <input name="power" type="radio" class="form-controls"  value="1" <?php if($vo['power']==1) echo "checked='checked'" ?> />用户
							  <input name="power" type="radio" class="form-controls"  value="2" <?php if($vo['power']==2) echo "checked='checked'" ?> />人事
							  <input name="power" type="radio" class="form-controls"  value="3" <?php if($vo['power']==3) echo "checked='checked'" ?> />管理员
							
							
	
                        </div>
                        
                        {/foreach}
                         <div class="form-group">
                            <input style="color: #fff" type="submit" class="btn btn-primary" value="修改">
                            <a style="color: #fff" type="button" class="btn btn-secondary" href="{:url('sysmanager/power')}">取消</a>
                        </div>
                    </form>
            </div>
        </div>
    </div>
    
</body>
<style>
	.form-controls{ text-align: center; }
</style>
</html>
